div
  div(class="row")
    div(class='col-12' ng-controller='aboutControllers')
      p() 
        | I am a native of Minnesota who migrated to Iowa for school, where I went to Iowa State University. 
        | At ISU, I earned a degree in Management Information Systems and International Business and met my significant other.  
        | During my time at Iowa State University, I studied abroad in Germany and Russia to develop my language skills in both German and Russian.  
        | While not traveling, I worked as a German language tutor, IT Student Aide, and was a member of the Management Information Systems club.
        | I am a social PC gamer who enjoys playing solo and with friends. 
        | I also enjoy the outdoors playing disc golf and visiting state parks with my significant other. 
        | We also enjoy trying new restaurants and local craft beers. 
        | On a regular day after work, I code, game, exercise, and play with my cat. To learn more about my projects and experience visit 
        span(class='span-to-link' ng-click="goToState('portfolio')") My Portfolio
        | .
        
      p
        | I got into web development in the Summer of 2012 with my first website using HTML and CSS, <a href="http://tyleredmunds.co.nf/index.html">tyleredmunds.co.nf/index.html</a>.
        | After that I updated my website to Wordpress to learn a web content management system. I also wanted a website that had a modern look and feel, as you can see that here, <a href="http://tyleredmunds.co.nf/">tyleredmunds.co.nf</a>.
        | That fall, I was offered an internship and my project in the Summer of 2013 was using PHP, MySql, Apache, and Linux (LAMP) with the front end using Javascript and some JQuery, and of course HTML and CSS. I learned a lot about using 
        | PHP on the backend and configuring the server with certificates.

      p
        | In my current job role, I am an IBM BPM developer using IBM Process Designer software by developing services and workflows. Those services include user intefaces, SOA web services, Oracle databases, and backend logic to handle business rules.
        | I partipcate on an agile team and work on my assigned user stories during our one month sprint. I also support our team's four other business processes by using a ticket software system and communicating with business users to solve the incident that was reported.
        | During a project, I have attended collaboration sessions where the developers and key business partners come together to showcase the current sprint's work-in-progress to recieve immediate feedback on functionality. I have also attended playback sessions
        | where our team showcases the sprint's results to more than just key business partners, such as end users.

      p
        | During my career, I came across an introductory training course on MEAN (MongoDB, Express.js, AngularJS, Node.js) and it was really interesting, especially AngularJS. 
        | So I set a goal to remake my personal website by using Node.js with Express and AngularJS and utilize responsive design for mobility.
        | While learning Node, Angular, and Express, I stumbled upon CSS Preprocessors, such as LESS, SASS, and Stylus. I also found an HTML template engine called Jade. 
        | Learning these new technologies has inspired myself to get more into web application development, web design methodologies, latest ECMAScript standards, and reading about the different libraries of JavaScript.
        | I learned some Git on Codecademy and have a GitHub page where I have this website on there. I am using Openshift to host my website. 
        | I plan to work on new applications that I come up with and to challenge myself to make a fully functional and useful applications/websites.
        
