div
  div(class="row")
    div(class='col-12')
      p()
        | If you would like to get in touch with me, click the icons to either email me or connect with me on LinkedIn
      div(style='display:block;')
        a(href="mailto:tylerjedmunds@gmail.com" style='margin:1%' rel='noopener noreferrer nofollow' target='_blank')
          i(class="fa fa-envelope fa-5x" style='color:black;' aria-hidden="true")
        a(href='https://www.linkedin.com/in/tyler-edmunds' style='margin:1%' rel='noopener noreferrer nofollow' target='_blank')
          i(class="fa fa-linkedin-square fa-5x" style='color:#4875B4' aria-hidden="true")
      div()
        p(style='margin:1%')
          | tylerjedmunds@gmail.com
        p(style='margin:1%')
          | https://www.linkedin.com/in/tyler-edmunds
      
