div
  div(class="row")
    div(class='col-12')
      div(style='display:block;')
        a(href="mailto:tylerjedmunds@gmail.com" rel='noopener noreferrer nofollow' target='_blank')
          i(class="fa fa-envelope fa-5x" style='color:black;' aria-hidden="true")
        a(href='https://www.linkedin.com/in/tyler-edmunds' rel='noopener noreferrer nofollow' target='_blank')
          i(class="fa fa-linkedin-square fa-5x" style='color:#4875B4' aria-hidden="true")
      
