div
  div(class="row")
    div(class='col-12')
      p(class='contact-info')
        | You can contact me via email at 
        a(href="mailto:tylerjedmunds@gmail.com" rel='noopener noreferrer nofollow' target='_blank') tylerjedmunds@gmail.com
        |  or through 
        a(href='https://www.linkedin.com/in/tyler-edmunds' rel='noopener noreferrer nofollow' target='_blank') LinkedIn
      p(class='contact-info-mobile')
        | Contact me by tapping on the icons through your prefered medium.
      p(class='contact-info-mobile')
        a(href="mailto:tylerjedmunds@gmail.com" rel='noopener noreferrer nofollow' target='_blank')
          img(src='./images/emailIcon.png' style='width: 8vw;')
        a(href='https://www.linkedin.com/in/tyler-edmunds' rel='noopener noreferrer nofollow' target='_blank')
          img(src='./images/Linkedin-icon.png' style='width: 8vw;' )
      
