div
  div(class="row")
    div(class="col-12")
      p
        | On my GitHub page, you will find these repos:
        ul(style='display: inline-block;')
          li(style='text-align: left') New-Node: personal website where you will find all the source code and how the app is structured
          li(style='text-align: left') MIS331Project: intermediate Java class project with one other friend in 2012
          li(style='text-align: left') ReactJSCourse: ReactJS fundementals course by creating a GitHub battle application
          li(style='text-align: left') Practice-Animations: started repo to practice animations using Snap.svg, etc.
          li(style='text-align: left') Tic Tac Toe: started repo for tic tac toe game with React
      p
        |  
        a(href='https://github.com/TedtheDev/' rel='noreferrer noopener nofollow' target='_blank') You can checkout my GitHub right here
