div
  div(class="row")
    div(class='col-12')
      p
        | Welcome to my latest website. Here you can find information about me and my portfolio with my projects throughout my school and professional career. 
        | You can get in touch with me by sending an email or LinkedIn. Thank you for visiting and getting to know me.
      div(ng-init="homePicture = './images/tedBox.jpg'")
        img(ng-src='{{ homePicture }}')
