div(class="container")
  header(class="row header")
    div(class="col-12 header-text") Tyler Edmunds
    div(class="row")
      nav(class='col-12 header-nav')
        div(ui-sref="home" class="header-nav-button") 
          span Home
        div(ui-sref="about" class="header-nav-button" ) 
          span About
        div(ui-sref="portfolio" class="header-nav-button" ) 
          span Portfolio
        div(ui-sref="github" class="header-nav-button" ) 
          span GitHub
        div(ui-sref="contact" class="header-nav-button" ) 
          span Contact
  div(class="content-box" ng-controller="getTemplate")
    nav(class="nav")
      div(class="nav-drop-down-section")
        //div(ng-click="slideOut(navSlideMenu)") ++++
        //div(ng-class="navMenuClass" ng-click='toggleMobileNav=!toggleMobileNav; changeClass(navMenuClass)')
        div(ng-class="navMenuClass" ng-click='slideOut(navSlideMenu)')
          span hamburger top
          span hamber mid
          span hamburger bot
          //svg(class="hamburger-menu" width="50%" height="30") Sorry, your browser does not support inline SVG.
            //path(id="ham-line-one" d="M 0 4 L 40 4" stroke="rgb(100,100,100)" stroke-width="4" fill="none")
            //path(id="ham-line-two" d="M 0 15 L 40 15" stroke="rgb(100,100,100)" stroke-width="4" fill="none")
            //path(id="ham-line-three" d="M 0 26 L 40 26" stroke="rgb(100,100,100)" stroke-width="4" fill="none")
        //div(class='nav-menu-mobile' ng-if='toggleMobileNav')
          //div(ui-sref="home" class="nav-test" ng-click="toggleMobileNav=!toggleMobileNav") Home
          //div(ui-sref="about" class="nav-test" ng-click="toggleMobileNav=!toggleMobileNav") About
          //div(ui-sref="portfolio" class="nav-test" ng-click="toggleMobileNav=!toggleMobileNav") Portfolio
          //div(ui-sref="github" class="nav-test" ng-click="toggleMobileNav=!toggleMobileNav") GitHub
          //div(ui-sref="contact" class="nav-test" ng-click="toggleMobileNav=!toggleMobileNav") Contact
    div(class='row')
      div(ui-view="content" class="col-12 content")
    //div((ui-view="" class="col-10 content" ng-init="loadTemplate('home')" ng-include="serveContent")
