div(class="container")
  header(class="row header" ng-controller="getTemplate")
    div(class="col-12 header-text") Tyler Edmunds
    div(class="row")
      nav(class='col-12 header-nav')
        div(class='header-bar')
        div(ui-sref="home" class="header-nav-button") 
          span Home
        div(ui-sref="about" class="header-nav-button" ) 
          span About
        div(ui-sref="portfolio" class="header-nav-button" ) 
          span Portfolio
        div(ui-sref="github" class="header-nav-button" ) 
          span GitHub
        div(ui-sref="contact" class="header-nav-button" ) 
          span Contact
        nav(class="nav")
          div(class="nav-drop-down-section")
            div(ng-class="navMenuClass" ng-click='slideOut(navSlideMenu)')
              span hamburger top
              span hamber mid
              span hamburger bot
  div(class="content-box" )
    div(class='row')
      div(ui-view="content" class="col-12 content")
