doctype html
html(lang="en-US")
  head
    title Tyler Edmunds - Ted
    //- Load AngularJS
    script(src='node_modules/angular/angular.js')
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js" type='text/javascript') //ngAnimate
    //script(src="//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js" type='text/javascript') //ngRoute
    script(src="node_modules/angular-ui-router/release/angular-ui-router.min.js")
    
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- Load CSS from css folder
    link(href='./css/styles.css', rel='stylesheet')
  body(ng-app="myApp")
    div(ui-view="index" class="container")
    
    //- Modules
    script(src="/angularjs/app.js")

    //- Controllers
    script(src="/angularjs/myControllers.js")
