div(style="height:100%;" ng-controller="getTemplate")
  header(class="row header" )
    div(class="col-12 header-text") Tyler Edmunds
  div(class="row nav-bar-height")
    nav(class='col-12 header-nav')
      div(class='header-show')
        div(ng-mouseenter='hoverHome=true;unanimateHome=false' ng-mouseleave='unanimateHome=true;hoverHome=false;' class='header-nav-button-container')
          div( id='homeNav' ui-sref="home" class='header-nav-button' ng-class="{'header-nav-button animate' : hoverHome, 'header-nav-button unanimate' : unanimateHome}" ng-click="addActiveLinkClass('home')") 
            span Home
        div(ng-mouseenter='hoverAbout=true;unanimateAbout=false' ng-mouseleave='unanimateAbout=true;hoverAbout=false;' class='header-nav-button-container')
          div( id='aboutNav' ui-sref="about" class='header-nav-button' ng-class="{'header-nav-button animate' : hoverAbout, 'header-nav-button unanimate' : unanimateAbout}" ng-click="addActiveLinkClass('about')") 
            span About
        div(ng-mouseenter='hoverPortfolio=true;unanimatePortfolio=false' ng-mouseleave='unanimatePortfolio=true;hoverPortfolio=false;' class='header-nav-button-container')
          div(id='portfolioNav' ui-sref="portfolio" class='header-nav-button' ng-class="{'header-nav-button animate' : hoverPortfolio, 'header-nav-button unanimate' : unanimatePortfolio}" ng-click="addActiveLinkClass('portfolio')") 
            span Portfolio
        div(ng-mouseenter='hoverGithub=true;unanimateGithub=false' ng-mouseleave='unanimateGithub=true;hoverGithub=false;' class='header-nav-button-container')
          div(id='githubNav' ui-sref="github" class='header-nav-button' ng-class="{'header-nav-button animate' : hoverGithub, 'header-nav-button unanimate' : unanimateGithub}" ng-click="addActiveLinkClass('github')") 
            span GitHub
        div(ng-mouseenter='hoverContact=true;unanimateContact=false' ng-mouseleave='unanimateContact=true;hoverContact=false;' class='header-nav-button-container')
          div(id='contactNav' ui-sref="contact" class='header-nav-button' ng-class="{'header-nav-button animate' : hoverContact, 'header-nav-button unanimate' : unanimateContact}" ng-click="addActiveLinkClass('contact')") 
            span Contact
  div(class="content-box" )
    div(class='row hamburger-height')
      nav(class="col-12 nav")
        div(class="nav-drop-down-section")
          div(ng-class="navMenuClass" ng-click='slideOut(navSlideMenu)')
            span hamburger top
            span hamber mid
            span hamburger bot
    div(class='row content-height')
      div(ui-view="content" class="col-12 content")
