doctype html
html(lang="en-US")
  head
    title Ted's Website
    //- Load AngularJS
    script(src='/node_modules/angular/angular.min.js')

    //- Load CSS from css folder
    link(href='./css/styles.css', rel='stylesheet')
  body(ng-app="myApp")
    div(class="container")
      header(class="header")
        span(class="header-text") Tyler Edmunds
      div(class="row")
        div(class="col-4 nav")
          div(class="nav-link") About
          div(class="nav-link") Portfolio
          div(class="nav-link") Contact
        div(class="col-8 content").
          contentcontentcontent
      footer(class="footer")
        | footer

    //- Modules
    script(src="/angularjs/app.js")

    //- Controllers
    script(src="/angularjs/myControllers.js")
