div(class="container")
  header(class="row header" ng-controller="getTemplate")
    div(class="col-12 header-text") Tyler Edmunds
    div(class="row")
      nav(class='col-12 header-nav')
        //div(class='header-bar')
        div(class='header-nav-button-container')
          div( id='homeNav' ui-sref="home" ng-class="headerNavButtonHome" ng-click="addActiveLinkClass('home')") 
            span Home
        div(class='header-nav-button-container')
          div( id='aboutNav' ui-sref="about" ng-class="headerNavButtonAbout" ng-click="addActiveLinkClass('about')") 
            span About
        div(class='header-nav-button-container')
          div(id='portfolioNav' ui-sref="portfolio" ng-class="headerNavButtonPortfolio" ng-click="addActiveLinkClass('portfolio')") 
            span Portfolio
        div(class='header-nav-button-container')
          div(id='githubNav' ui-sref="github" ng-class="headerNavButtonGithub" ng-click="addActiveLinkClass('github')") 
            span GitHub
        div(class='header-nav-button-container')
          div(id='contactNav' ui-sref="contact" ng-class="headerNavButtonContact" ng-click="addActiveLinkClass('contact')") 
            span Contact
        nav(class="nav")
          div(class="nav-drop-down-section")
            div(ng-class="navMenuClass" ng-click='slideOut(navSlideMenu)')
              span hamburger top
              span hamber mid
              span hamburger bot
  div(class="content-box" )
    div(class='row')
      div(ui-view="content" class="col-12 content")
