div(ng-click="slideIn(navSlideMenu)" ng-class="navSlideMenu")
  div(class="app-menu" )
    div(ui-sref="home" class="slide-out-nav-button" ng-click="toggleMobileNav=!toggleMobileNav") Home
    div(ui-sref="about" class="slide-out-nav-button" ng-click="toggleMobileNav=!toggleMobileNav") About
    div(ui-sref="portfolio" class="slide-out-nav-button" ng-click="toggleMobileNav=!toggleMobileNav") Portfolio
    div(ui-sref="github" class="slide-out-nav-button" ng-click="toggleMobileNav=!toggleMobileNav") GitHub
    div(ui-sref="contact" class="slide-out-nav-button" ng-click="toggleMobileNav=!toggleMobileNav") Contact
