div(ng-controller="getPortfolioProjectInfo" class="portfolio-full")  
  div(class="row" )
    div(class="col-12" ng-controller='animateBorder')
      //Animate border around View Projects button inspired by http://codepen.io/realjameal/pen/jPxXGY, Animated border tracing A PEN BY Jameal G
      div(class='project-menu-holder')
        div(ng-class="viewProjectsButtonClassName"  ng-click="setDelay(); changeCSSBorderClass(cssBorderClass); changeViewProjectsButtonClass(viewProjectsButtonClassName)") View Projects
      div(ng-class='cssBorderClass' ng-if='projectMenu')
        div(class='project-menu-nav-content' )
          div(class="project-menu-button" ui-sref='firstWebsite' ng-click='setDelay(); changeCSSBorderClass(cssBorderClass); changeViewProjectsButtonClass(viewProjectsButtonClassName)') First Website
          div(class="project-menu-button" ui-sref='wordpress' ng-click='setDelay(); changeCSSBorderClass(cssBorderClass); changeViewProjectsButtonClass(viewProjectsButtonClassName)') Web Content Management System
          div(class="project-menu-button" ui-sref='esss' ng-click='setDelay(); changeCSSBorderClass(cssBorderClass); changeViewProjectsButtonClass(viewProjectsButtonClassName)') Employee Self-Service System
          div(class="project-menu-button" ui-sref="payrollSystem" ng-click='setDelay(); changeCSSBorderClass(cssBorderClass); changeViewProjectsButtonClass(viewProjectsButtonClassName)') Payroll System
          div(class="project-menu-button" ui-sref='lampProject' ng-click='setDelay(); changeCSSBorderClass(cssBorderClass); changeViewProjectsButtonClass(viewProjectsButtonClassName)') LAMP Project
          div(class="project-menu-button" ui-sref='lanProject' ng-click='setDelay(); changeCSSBorderClass(cssBorderClass); changeViewProjectsButtonClass(viewProjectsButtonClassName)') LAN with Firewall Project
          div(class="project-menu-button" ui-sref='nodeWebsite' ng-click='setDelay(); changeCSSBorderClass(cssBorderClass); changeViewProjectsButtonClass(viewProjectsButtonClassName)') New Website
  div(class="row" style="height: 100%")
    div(class="col-12 project-content" ui-view="loadProject")
