div(ng-controller="getPortfolioProjectInfo" class="portfolio-full")  
  div(class="row" )
    div(class="col-12")
      div(class="project-button" ui-sref='firstWebsite') First Website
      div(class="project-button" ui-sref='wordpress') Web Content Management System
      div(class="project-button" ui-sref='esss') Employee Self-Service System
      div(class="project-button" ui-sref="payrollsystem") Payroll System
      div(class="project-button" ui-sref='lampProject') LAMP Project
      div(class="project-button" ui-sref='lanProject') LAN with Firewall Project
      div(class="project-button" ui-sref='nodeWebsite') New Website
  div(class="row" style="height: 100%")
    div(class="col-12 project-content" ui-view="loadProject")
    //div(class="col-12 project-content" ng-include="loadProjectFull" full-page)
    
