div(ng-controller="getPortfolioProjectInfo")  
  div(class="row" )
    div(class="col-6 projectButton" ng-click="getProjectInfo()") First Website
    div(class="col-6 projectButton" ) Web Content Management System
  div(class="row")
    div(class="col-12" ) {{ servePortfolioProject }}
    
