div(ng-controller="getPortfolioProjectInfo")  
  div(class="row" )
    div(class="col-12")
      div(class="projectButton" ng-click="loadProject('firstWebsite')") First Website
      div(class="projectButton" ng-click="loadProject('wordpress')") Web Content Management System
  div(class="row")
    div(class="col-12" ng-include="servePortfolioProject")
    
