div(ng-controller="loadAllProjects" style="height:100%")
  div(ng-include="firstWebsite")
  div(ng-include="wordpress")
  div(ng-include="esssProject")
  div(ng-include="payrollSystem" )
  div(ng-include="lampProject")
  div(ng-include="lanProject")
  div(ng-include="nodeWebsite")
