div(ng-controller="loadAllProjects")
  div(ng-include="firstWebsite")
  div(ng-include="wordpress")
  div(ng-include="esssProject")
  div(id='payrollSystem' ng-include="payrollSystem")
  div(ng-include="lampProject")
  div(ng-include="lanProject")
  div(ng-include="nodeWebsite")
