div(ng-controller="loadAllProjects")
  div(ng-include="firstWebsite" class="section")
  div(ng-include="wordpress" class="section")
  div(ng-include="esssProject" class="section")
  div(ng-include="payrollSystem" class="section")
  div(ng-include="lampProject" class="section")
  div(ng-include="lanProject" class="section")
  div(ng-include="nodeWebsite" class="section")
