doctype html
html
  head
    //- Load AngularJS
    script(src='/node_modules/angular/angular.min.js')

    //- Load CSS from css folder
    link(href='/css/styles.css', rel='stylesheet')
  body(ng-app="myApp")
    div
      h1(class="header", ng-controller="myController").
        {{ theMessageForHelloWorld }}
      p(class="paragraph").
        This is my first MEAN app with Jade Template.
      div(ng-controller="getRestaurants")
        button(ng-click="getRestaurants()" type="button" value="Show Restaurants").
          Show Restaurants
        p.
          {{ restaurants.length }}
        ul
          li(ng-repeat="restaurant in restaurants").
            {{ restaurant.name }}

    //- Modules
    script(src="/angularjs/app.js")

    //- Controllers
    script(src="/angularjs/myControllers.js")
