doctype html
html
  head
    //- Load AngularJS
    script(src='/node_modules/angular/angular.min.js')

    //- Load CSS from css folder
    link(href='/css/helloWorld.css', rel='stylesheet')
  body(ng-app="myApp")
    div
      h1(class="header", ng-controller="myController").
        {{ theMessageForHelloWorld }}
      p(class="paragraph").
        This is my first MEAN app with Jade Template.
    div(ng-controller="getRecords")
      p(ng-repeat="name in restaurants").
        {{ name }}

    //- Modules
    script(src="/angularjs/app.js")

    //- Controllers
    script(src="/angularjs/myControllers.js")
