@media only screen and (min-width: 768px)
  .col-0
    width: 0px
  .col-1
    width: 8.33%
  .col-2
    width: 16.66%
  .col-3
    width: 25%
  .col-4
    width: 33.33%
  .col-5
    width: 41.66%
  .col-6
    width: 50%
  .col-7
    width: 58.33%
  .col-8
    width: 66.66%
  .col-9
    width: 75%
  .col-10
    width: 83.33%
  .col-11
    width: 91.66%
  .col-12
    width: 100%
  html, body
    overflow: hidden
  .nav-links-section
    display: inline
  .nav-drop-down-section
    display: none
  .nav
    //overflow: auto

  @keyframes fadeInNavButtons {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }

  @keyframes animateNavButtons {
    0% { width: 50% }
    50% { width: 0% }
    75% { width: 50%; background-color: #ca5df7; color: #000 }
    100% { width: 100%; background-color: #ca5df7; color: #000 }
  }

  @keyframes animateNavButtonsReverse {
    0% { width: 100%; background-color: #ca5df7;  color: #000 }
    50% { width: 50%; background-color: #ca5df7;  color: #000  }
    75% { width: 0%; background-color: #8e44ad }
    100% { width: 100%; background-color: #8e44ad }
  }

  .header-show
    opacity: 0
    animation: fadeInNavButtons 1s linear
    animation-delay: 1.5s
    animation-fill-mode: forwards

  .header-nav-button
    width: 100%
    height: 100%
    opacity: 1
    pointer-events: auto
    border-radius: 10px
    margin: 0 auto
    &:hover
      cursor: pointer

  .header-nav-button.animate
    animation: animateNavButtons 200ms linear
    animation-fill-mode: forwards


  .header-nav-button.unanimate
    animation: animateNavButtonsReverse 200ms linear
    animation-fill-mode: forwards

  .nav
    height: 0
    width: 0

  .header-nav-button-container
    display: inline-block
    width: calc(100%/6)
    height: 60%
    position: absolute
    &:nth-child(1)
      left: 1.5%
    &:nth-child(2)
      left: 21.5%
    &:nth-child(3)
      left: 41.5%
    &:nth-child(4)
      left: 61.5%
    &:nth-child(5)
      left: 81.5%

  .nav-bar-height
    height: 10%

  .hamburger-height
    height: 0

  .img-resize
    width:30%
    height:auto
  .content-height
    height: 100%
