//mixins
width-transition-seconds(sec)
  -webkit-transition: width sec
  transition: width sec
transition-timing-cybic-bezier(n1,n2,n3,n4)
  -webkit-transition-timing-function: cubic-bezier(n1,n2,n3,n4)
  transition-timing-function: cubic-bezier(n1,n2,n3,n4)
nav-menu-mobile-transition(sec)
  -webkit-transition: sec linear all
  transition: sec lindear all

//css
html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

*
  box-sizing: border-box

//all columns
[class*="col-"]
  width: 100%
  border: 1px solid red
  float: left
  padding: 15px
//mobile
[class*="col-"]
  width: 100%


//set rows
.row::after
  content: ""
  clear: both
  display: block

.container
  height: 100%
  background-color: #ecf0f1
  overflow-x: auto

.header
  width: 100%
  height: 25%
  background-color: #8e44ad
  clear: both
  position: relative

.header-text
  font-size: 28px
  color: #ecf0f1
  margin: 0 auto
  text-align: center

.header-nav
  width: 100%
  padding-top: 25px
  padding-bottom: 5px
  text-align: center
  position: absolute
  bottom: 7%
  left: 0
  background-color: #d5b6e2

.header-nav-button
  display: inline-block
  width: 0
  height: 0
  opacity: 0
  border: 3px solid #000
  border-radius: 3px
  background-color: #8e44ad
  color: #ecf0f1
  text-align: center
  &:hover
    cursor: pointer
  pointer-events: none

.nav-links-section
  display: none

.nav-link
  color: #ecf0f1
  background-color: #8e44ad
  margin: 4% auto 4% auto
  padding: 4%
  width: 50%
  min-width: 120px
  height: 40px
  font-size: 150%
  line-height: 50%
  cursor: pointer
  width-transition-seconds(.5s)
  transition-timing-cybic-bezier(0,0,0,1)
  border-radius: 100px
  text-align: center
  vertical-align: middle
  border: 4px solid black;
  &:hover
    width: 100%

.nav-drop-down-section
  width: 97%
  height: 60px

.nav-drop-down-select
  width: 100%

.nav-menu-mobile-toggle, .nav-menu-mobile-toggle-open
  width: 50px
  height: 40px
  position: relative
  top: 10px
  margin: 0px 0px 0px auto
  transform: rotate(0deg);
  transition .5s ease-in-out
  cursor: pointer
  border: 3px solid #8e44ad
  border-radius: 5px

.nav-menu-mobile-toggle span, .nav-menu-mobile-toggle-open span
  display: block
  opacity: 1
  left: 0
  background-color: #8e44ad
  position: absolute
  width: 90%
  border-radius: 10px
  height: 6px
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  transform: rotate(0deg);
  transition .25s ease-in-out

.nav-menu-mobile-toggle span:nth-child(1)
  top: 5px

.nav-menu-mobile-toggle span:nth-child(2)
  top: 15px

.nav-menu-mobile-toggle span:nth-child(3)
  top: 25px

//-------
.nav-menu-mobile-toggle-open span:nth-child(1)
  top: 15px
  transform: rotate(135deg);

.nav-menu-mobile-toggle-open span:nth-child(2)
  opacity: 0
  left: 250px
  top: 10px

.nav-menu-mobile-toggle-open span:nth-child(3)
  top: 15px
  transform: rotate(-135deg);

.nav-menu-mobile
  width: 100%
  background-color: yellow

.nav-menu-mobile.ng-enter
  nav-menu-mobile-transition(.25s)
  opacity: 0

.nav-menu-mobile.ng-enter.ng-enter-active
  opacity: 1

.nav-menu-mobile.ng-leave
  nav-menu-mobile-transition(.25s)
  opacity: 1

.nav-menu-mobile.ng-leave.ng-leave-active
  opacity: 0

@keyframes moveLine {
  to { stroke-dashoffset: 25}
}

#ham-line-one
  stroke-dasharray: 15
  animation: moveLine 2s linear forward

.hamburger-menu:hover
  cursor: pointer

.portfolio-full
  height: 100%

.project-content
  overflow-x: auto
  height: 100%

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.content
  height: 100%
  word-wrap: break-word
  overflow: auto
  opacity: 0
  animation: fadeIn 1s
  animation-fill-mode: forwards

.content-box
  height: 100%

.project-button
  display: inline
  margin: 1% 1% 1% 1%
  &:hover
    cursor: pointer
  background-color: #66ccff
  padding: 1%
  margin: 1%

.project-menu-holder
  margin: 0 auto

.project-menu-closed, .project-menu-open
  background-color: #8e44ad
  color: #ecf0f1
  text-align: center
  width: 50%
  min-width: 235px
  height: 32px
  margin: 0 auto
  font-size: 22px
  border: 1px solid #000
  border-radius: 10px
  cursor: pointer

.project-menu-open
  transition: 300ms linear all

.project-menu-closed
  transition: 2s linear all

.project-menu-open
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

.project-menu-nav
  width: 50%
  min-width: 235px
  margin: 0 auto
  text-align: center
  border: 1px solid #000
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

.project-menu-nav.ng-enter
  transition: 1s ease-in
  opacity: 0

.project-menu-nav.ng-enter.ng-enter-active
  opacity: 1

.project-menu-nav.ng-leave
  transition: 1s ease-in
  opacity: 1

.project-menu-nav.ng-leave.ng-leave-active
  opacity: 0

.project-menu-button
  margin: 2%
  background-color: #d9b3ff

.contact-info
  opacity: 0

.contact-info-mobile
  opacity: 1

@import "stylesMediaQueries.styl"
@import "mobileSlideOut.styl"
