div
  div(class="row")
    div(class="col-12" id="esssProject")
      p
        | My first real Management Information Systems class was Systems Analysis at Iowa State University. In this class we learned about SDLC, requirements gathering, functional and non-functional requirements, 
        | sequence diagrams, use cases, activity diagrams, class diagrams, what kind of deployment to use (parallel, phased, big bang), how should we implement the project (waterfall, prototype, iteration), etc.
      p
        | My group's project was to change a paper system to an electronic system. It was called the Employee Self Service System. We started out gathering requirements from documents that were given to us, 
        | such as interview reponses, document analysis, 'observing' employees work, etc. After gathering requirements, our group created many use cases/user stories based on our requiremnts that we gathering and felt would create the best system for our customer.
      p
        | This class and project was my first look into what Information Technology is about, but it is only just a part of it. In the end, we got an A on the project. It was really a great experince to work with my group and I am proud of our group project.
