div
  div(class="row")
    div(class="col-12")
      p 
        | I started developing my first website in the Summer of 2012 by learning HTML and CSS from W3Schools.com. You can find it here <a href="http://tyleredmunds.co.nf/inde.html" target="_blank">TylerEdmunds.com</a>.
      p
        | The website is very simple. I made it to practice my skills with HTML and CSS and to see how both those languages work together. My goal was to tell a little bit about myself, showcase my projects and expreience, and a way to contact me.
        | I also included a German version of my website. If you just click on the "Deutsche Version" in the header, it will give the German translated version of my website. While working on this project I just didn't learn about HTML and CSS.
        | I learned about hosts and registering a domain name.
      p
        | I used 
        a(href="http://komodoide.com/" rel="noreferrer noopener" target="_blank") Komodo Edit 
        | as my IDE. My first host was <a href="https://www.000webhost.com/ target="_blank">000webhost.com</a>, because it was free and seemed like a decent host.
        | I also purchased a domain name. Finally, it was live!
      P
        | After I developed my first website, I learned about Javascript and how that adds interactivity and my goal was to come up with a simple calculator.
