div(ng-controller="getPortfolioProjectInfo")  
  div(class="row" )
    div(class="col-12")
      p
        | At my first internship at Caterpillar, my project was to create a web application for my team. The As-Is system used an excel document. A user would search this excel docuemnt to lookup server information.
        | My goal was to create a dynamic application so the team can search any server attribute, such as IP Address, Hostname, OS, etc and the application would send a list where you could click on a server and see all the information so the team can do their job more efficiently and faster
      p
        | On my first day of undestanding my project, my technical lead already had a vision to use a similar internal application. So, my first task was to understand this existing application and how it functioned and served information.
        | This is when I learned that I will be using the LAMP stack. I learned PHP by using w3schools again. It was very quick to catch on how to use PHP, because I had my school experience using Java.
