div(ng-controller="getPortfolioProjectInfo")  
  div(class="row" )
    div(class="col-12" id="lanProject")
      p
        | My LAN project was for a networking class where the goal was to setup a server and a client, and to have a firewall inbetween them.
      p
        | Completing this projet taught me about protocols, firewall rules, setting up DHCP, Active Directory, DNS, and Email.
