div(ng-controller="getPortfolioProjectInfo")  
  div(class="row" )
    div(class="col-12" id="lanProject")
      p
        | My LAN project was for my networking class where the goal was to setup a server and a client, and to have a firewall inbetween them.
      p
        | Some of the project goals were to design a network diagram by mapping out the firewall and computers, setting up IP Addresses, and configuring the firewall for certain traffic. We used VMWare machines to simulate the LAN network. Some of the tasks involved for everyone
        | were configuring DHCP, Email, HTTP/S traffic, Active Directory, etc. 
      p
        | Completing this project taught me about firewall rules, DHCP, setting up roles in Active Directory, DNS, and Email.
