div(ng-controller="getPortfolioProjectInfo")  
  div(class="row" )
    div(class="col-12")
      p
        | My node project is this website. I have learned so much from rebuilding a personal website from the ground up. My aim was to make it mobile responsive, use the MEAN stack (missing MongoDB),
        | setup a CSS preprocessor, utlize Jade template engine, expirement with some animations, and understand how a slide-out menu works.
      p
        | That's not all that I have learned from developing this in my free time, but I learned about GIT and Github, how to use branches and merge branches, push code to Github as well as clone it to the production server.
        | I selected a free host, OpenShift, and cloned my GitHub repository to the server. I learned about SVG and Canvas, Bootstrap, grid system, and flexbox. Not all of these things are present in the website, but all of them 
        | I have come across on the web from researching/learning.
      p
        | While developing this new website, I have come up with other ideas for the next project such as using React and Sockets.IO and maybe aim for using user authentication and using MongoDB.
