div(ng-controller="getPortfolioProjectInfo")  
  div(class="row" )
    div(class="col-12")
      p
        | The payroll system was a team project with one other friend in my Java class. 
        | Our goal was to develop a system to track employees pay period hours and to pay them by their hourly salary including taxes.
        | Our team used Eclipse IDE to develop the project. Our database was a text file. We used a text file as the database because we didn't learn about databases at the time.
        | The console in Eclipse is the user interface by reading the output from the system and entering the corresponding integers to use the system and when prompted to enter employee information.
      p
        | The functionality of our system can add, update, delete, or search employees information. It can also export information and print check to the console, as well as, enter a new pay period. 
        | It can also print checks. All of the functionality is through the console window in Eclipse.
      p
        a(href="https://github.com/TedtheDev/MIS331Project" rel='noreferrer nofollow' target='_blank') You can check out all of our Java classes, code, and database text file.
      p
        | If you do download the files and import into Eclipse, please use the 'Runner' file to start the payroll system.
