div
  div(class="row")
    div(class="col-12")
      p
        | After my first website, I felt it was from the 1990s. I looked into Wordpress as my first web content management system to get a modern look for the upcoming career fair for school.
        | Here is the second iteraction of my website, <a href="http://tyleredmunds.co.nf">tyleredmunds.co.nf</a>.
      p
        | I picked out a new theme that looked good for potential people that would look at my site. I added some plugins, learned how Wordpress managed content, and included some HTML.
        | I included a couple blog posts to update people about my expreience since creating it. I learned about setting up the MySQL database for Wordpress to use to hold its content.
      P
        | After setting everything up, the website looked good. It was mobile responsive and worked well on desktop screens. I was proud of my work again. 
